body {
    margin: 0;
    font-family: Montserrat;
}

.main-section {
    padding: 20px;
}

.image-container {
    background-image: ./assets/landscape.jpg;
    height: 500px;
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: prata;

}

h3 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    font-weight: 600;
    font-style: italic;
}

h6 {
    padding: 22px;
    margin-bottom: 0;
    margin-top: 56px;
    color: white;
    border-radius: 6px;
    background: linear-gradient(rgb(213, 37, 37), rgb(240, 174, 174));
}

.no-bullets {
    list-style-type: none;
    padding-left: 0;

}

.link {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    border-bottom: 1px #dfdfdf;
    text-decoration: none;
    color: rgb(213, 37, 37);
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: black;
    padding: 16px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
}